
@font-face {
    font-family: 'showFont';
    src: url("../fonts/JMH\ Typewriter.ttf") format('truetype');
}

h1 {
    color: tan;
    font-size: xxx-large;
}

.bookCover {
    border-color:grey;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    box-shadow: 10px 5px 5px grey;
    padding: 5px;
}

h2 {
    margin-top:25px;
    display: flex;
    flex-direction: column;
}

.editButton {
    background-color: tan;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    box-shadow: 10px 5px 5px grey;
    
}

.backButton {
    background-color: tan;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px grey;
}

.backButtonNew {
    background-color: tan;
    border-radius: 5px;
    max-width: fit-content;
    box-shadow: 5px 5px 5px grey;
    font-family: 'showFont';
    font-size: medium;
}

.showBody {
    background-image: url("../images/2413176.jpg");
    background-repeat: repeat;
    object-fit: fill;
    background-position: center;
    background-size: cover;
    font-family: 'showFont';
    margin: auto;
}

.indexBody {
    background-image: url("../images/hySrQhk9QgN45B-0z8PR0bd8ZRyDZ9LnvzPSGaIb91Q.jpg");
    color: tan;
}

.bookCoverIndex {
    border-color:tan;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
}

.newButton {
    background-color: tan;
    font-size: medium;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'showFont';
}

.addButton {
    background-color: tan;
    font-size: large;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'showFont';
}

.indexH1 {
    font-size: xxx-large;
    color:tan;
}

.newH1 {
    font-size: xxx-large;
    color:tan;
    font-family: 'showFont';
}

.newFormField {
    color: black;
    font-size: large;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: black;
    font-family: 'showFont';
}

input[type="text"], textarea {
    background-color : rgba(0,0,0,0.3);
}

input[type="number"], textarea {
    background-color : rgba(0,0,0,0.3);
}

.editButtons {
    background-color: tan;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    color: black;
}

.matt {
    font-family:cursive;
}

.reads{
    font-family: 'showFont';
}

.synopsis {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex:1;
    font-size: large;
}

.editContainer{
    border-color:tan;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    background-image: url("../images/2413176.jpg");
    display:inline-block;
    padding: 10px;
}

.editButtons {
    font-family: 'showFont';
}

.newForm{
    font-family: 'showFont';
    font-size: large;
}

#deleteButton {
    box-shadow: 5px 5px 5px darkred;
}

@media screen and (min-width: 769px){
.bookDetail {
    margin-left: 300px;
}
.indexBody {
    background-image: url("../images/hySrQhk9QgN45B-0z8PR0bd8ZRyDZ9LnvzPSGaIb91Q.jpg");
    color: tan;
    margin-left: 110px;
}
}

.formTitles{
    font-size:x-large;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-family: 'showFont';
}

.editH1{
    font-family: 'showFont';
}

@media screen and (max-width: 425px) {
    .bookCoverIndex {
        margin-left: 50px;
    }
    .indexH1 {
        margin-left: 50px;
    }
    .newButton {
        margin-left: 50px;
    } 
    .showBody {
        background-image: url("../images/2413176.jpg");
        background-repeat: repeat;
        object-fit: fill;
        background-position: center;
        background-size: cover;
        font-family: 'showFont';
    }
    .bookDetail {
        padding: 50px;
    }
}

@media screen and (width: 768px) {
    .bookCoverIndex {
        margin-left: 220px;
    }
    .indexH1 {
        margin-left: 220px;
    }
    .newButton {
        margin-left: 220px;
    } 
    .showBody {
        background-image: url("../images/2413176.jpg");
        background-repeat: repeat;
        object-fit: fill;
        background-position: center;
        background-size: cover;
        font-family: 'showFont';
    }
    .bookDetail {
        padding: 50px;
    }
}

