
@font-face {
    font-family: 'showFont';
    src: url("../fonts/JMH\ Typewriter.ttf") format('truetype');
}

@font-face {
    font-family: 'scriptFont';
    src: url("../fonts/josephsophia.ttf") format('truetype');
}

h1 {
    color: tan;
    font-size: xxx-large;
}

.bookCover {
    border-color:grey;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    box-shadow: 10px 5px 5px grey;
    padding: 5px;
}

h2 {
    margin-top:25px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.editButton {
    background-color: tan;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    box-shadow: 10px 5px 5px grey;
}

.backButton {
    background-color: tan;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 5px grey;
}

.backButtonNew {
    background-color: tan;
    border-radius: 5px;
    max-width: fit-content;
    box-shadow: 5px 5px 5px grey;
}

.showBody {
    background-image: url("../images/2413176.jpg");
    background-repeat: repeat;
    object-fit: fill;
    background-position: center;
    background-size: cover;
    font-family: 'showFont';
    margin: auto;
}

.indexBody {
    background-image: url("../images/hySrQhk9QgN45B-0z8PR0bd8ZRyDZ9LnvzPSGaIb91Q.jpg");
    color: tan;
    margin-left: 110px;
}

.bookCoverIndex {
    border-color:tan;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
}

.newButton {
    background-color: tan;
    font-size: medium;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}

.addButton {
    background-color: tan;
    font-size: medium;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}

.indexH1 {
    font-size: xxx-large;
    color:tan;
}

.newH1 {
    font-size: xxx-large;
    color:tan
}

.newFormField {
    color: tan;
}

input[type="text"], textarea {
    background-color : grey
}

input[type="number"], textarea {
    background-color : grey
}

.editButtons {
    background-color: tan;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    color: black;
}

.matt {
    font-family:cursive;
}

.synopsis {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex:1;
    font-size: large;
}

@media screen and (min-width: 769px){
.bookDetail {
    margin-left: 350px;
}
}

@media screen and (max-width: 425px) {
    .bookCoverIndex {
        margin-right: 130px;
    }
    .indexH1 {
        margin-right: 130px;
    }
    .newButton {
        margin-right: 130px;
    }
    .showBody {
        background-image: url("../images/2413176.jpg");
        background-repeat: repeat;
        object-fit: fill;
        background-position: center;
        background-size: cover;
        font-family: 'showFont';
    }
    .bookDetail {
        padding: 50px;
    }
}

@media screen and (max-width: 768px) {
    .bookCoverIndex {
        margin-left: 135px;
    }
    .indexH1 {
        margin-left: 135px;
    }
    .newButton {
        margin-left: 135px;
    } 
    .showBody {
        background-image: url("../images/2413176.jpg");
        background-repeat: repeat;
        object-fit: fill;
        background-position: center;
        background-size: cover;
        font-family: 'showFont';
    }
    .bookDetail {
        padding: 50px;
    }
}