<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mattreads - Index</title>
</head>
<body class="indexBody">
    <h1 class = "indexH1" style="margin-left: 100px;"><span class="matt">matt</span>reads</h1>
    <button class = "newButton", type="button", style="margin-left: 100px;"><a href="/books/New" style="text-decoration: none; color: black;">Add a New Book</a></button>
    <div id="bookContainer" style="margin: 100px;">
    <% for(let i = 0; i < books.length; i++) { %>
    <a href = "/books/<%=books[i]._id%>"><img class = "bookCoverIndex" src="<%= books[i].image %>" alt="Book Image"></a>
    <% } %>
    </div>
</body>
</html>